@model gsoporte.soporte

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>soporte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraSoporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraSoporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clasificacion.Clasificacion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clasificacion.Clasificacion1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado.Estado1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado.Estado1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.perfil.Perfil1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.perfil.Perfil1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prioridad.Prioridad1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prioridad.Prioridad1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.Usuario1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.Usuario1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idSoporte }) |
    @Html.ActionLink("Back to List", "Index")
</p>
